// Main Sass File
@import 'utilities';
@import 'hoverEffect';
@import url('../fonts/OpenSansCondensed-Light.ttf');
body,
html {
    height: 100% !important;
    color: #222;
    // background: #222;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px !important;
}

.navbar.on {
    background: url('../img/nav-home.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.navbar-not-home.on {
    background: url('../img/nav-home-2.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    a,
    button {
        color: #fff !important;
    }
}


/* Center the loader */

#loader {
    position: absolute;
    background: #181818;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 10px solid #181818;
    border-radius: 50%;
    border-top: 10px solid #BBBBBB;
    border-bottom: 10px solid #BBBBBB;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
    background: rgba(34, 34, 34, 0.6);
    height: 100% !important;
}

#notHome {
    display: none;
    text-align: center;
    background: rgba(252, 252, 252, 0);
    height: 100% !important;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: none;
    border-radius: 0.25rem;
    margin: auto;
}

.nav-link {
    font-size: 10px !important;
}

.logo-container {
    height: 100vh;
    color: #fff;
    .image-logo {
        width: 40vh;
        margin: auto;
    }
    small {
        position: relative;
        top: -170px;
    }
    p {
        font-size: 10px;
    }
}

.primary-menu {
    height: 100vh;
    footer {
        position: absolute;
        bottom: 10px !important;
    }
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* Styles */
    .logo-container {
        height: 100vh;
        color: #fff;
        .image-logo {
            width: 40vh;
            margin: auto;
        }
        small {
            position: relative;
            top: -145px !important;
        }
        p {
            font-size: 10px;
        }
    }
    .primary-menu {
        padding-top: 70px;
        height: 100vh;
    }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}


/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}