// Main Sass File
@import 'utilities';
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body,
html {
    height: 100%;
    color: #222;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar.on {
    background: url('https://images.unsplash.com/photo-1495914510314-ba3164b1321f?dpr=1&auto=compress,format&fit=crop&w=1534&h=&q=80&cs=tinysrgb&crop=') no-repeat center center;
    background-size: cover;
    height: 100vh;
}


/* Center the loader */

#loader {
    position: absolute;
    background: #181818;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 10px solid #181818;
    border-radius: 50%;
    border-top: 10px solid #BBBBBB;
    border-bottom: 10px solid #BBBBBB;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
    background: rgba(34, 34, 34, 0.6);
    height: 100% !important;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: none;
    border-radius: 0.25rem;
    margin: auto;
}

.nav-link {
    font-size: 13px !important;
}

.logo-container {
    height: 100vh;
    color: #fff;
    .image-logo {
        width: 40vh;
        margin: auto;
    }
    small {
        position: relative;
        top: -170px;
    }
    p {
        font-size: 10px;
    }
}

@media (min-width: 360px) {
    .logo-container {
        height: 100vh;
        color: #fff;
        .image-logo {
            width: 40vh;
            margin: auto;
        }
        small {
            position: relative;
            top: -145px !important;
        }
        p {
            font-size: 10px;
        }
    }
}